<div class="container">
  <div class="row">
    <div class="col-6">

      <div class="d-flex align-items-center justify-content-between">
        <h1 class="my-3"><%= @restaurant.name %></h1>
        <%= link_to "Check all restaurants", restaurants_path %>
      </div>

      <%= render 'table', restaurant: @restaurant %>

      <h2 class="my-3">Give your review to this restaurant</h2>
      <%= render 'form_review', restaurant: @restaurant, review: @review %>

      <div class="list-group my-3">
        <%= render 'list_review', restaurant: @restaurant %>
      </div>
      
    </div>
  </div>
</div>

 
       
   